%h1 Notify Users

.email

  %h2 Users with not yet commited questionnaires
  .mailto
    -if @opensurvey 
      %a{:href=>"mailto: #{@notifyusers.map{|user| user.uid}.join(';')} ?subject=Reminder #{@opensurvey.name}"} 
        Send an eMail to all users that own a virtualdesktop but did not yet submit to the currently open survey \"#{@opensurvey.name}\"."
    -else
      %p There is no open survey at this time.

  %h2 All clients
  .mailto
    %a{:href=>"mailto: #{@clients.map{|user| user.uid}.join(';')} ?subject=News Entwicklerarbeitsplatz IT-BA"} 
      Send an email to all clients.

.list
  %h2 List of users
  %ol
    - @notifyusers.each do |notifyuser|
      %li= link_to notifyuser.user.name, user_path(notifyuser.user)
