%h1 Listing users

%table
  %tr
    %th UID 
    %th Admin
    %th Manager
    %th Client
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= link_to user.uid, user 
      %td= user.is_admin?
      %td= user.is_manager?
      %td= user.is_client?
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User', new_user_path
