%h1 Listing virtualdesktops

%table
  %tr
    %th Name
    %th User
    %th Masterimage
    %th Status
    %th
    %th
    %th


  - @virtualdesktops.each do |virtualdesktop|
    %tr
      %td= virtualdesktop.name
      %td= virtualdesktop.down? ? "-" : virtualdesktop.user.name 
      %td= virtualdesktop.masterimage.name
      %td= virtualdesktop.down? ? "down" : "running"
      %td= link_to 'Show', virtualdesktop
      %td= link_to 'Edit', edit_virtualdesktop_path(virtualdesktop)
      %td= link_to 'Rundown', rundown_virtualdesktop_path(virtualdesktop), :confirm => 'Are you sure?', :method => :post

%br

= link_to 'New Virtualdesktop', new_virtualdesktop_path
