%p#notice= notice

%p
  %b Name:
  = @virtualdesktop.name

%p
  %b User:
  - if @virtualdesktop.user
    = link_to @virtualdesktop.user.name, user_path(@virtualdesktop.user)

%p
  %b Masterimage:
  = link_to @virtualdesktop.masterimage.name, masterimage_path(@virtualdesktop.masterimage)

%p
  %b Status:
  = @virtualdesktop.down? ? "down" : "running"


= link_to 'Edit', edit_virtualdesktop_path(@virtualdesktop) if @loggedin_user.is_admin
\|
= link_to 'Back', virtualdesktops_path
