= form_for @masterimage do |f|
  -if @masterimage.errors.any?
    #error_explanation
      %h2= "#{pluralize(@masterimage.errors.count, "error")} prohibited this masterimage from being saved:"
      %ul
        - @masterimage.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
