%style{:type => "text/css"}
  :sass
    th
      a
        z-index: 24
        color: #000
        text-decoration: none
        position: relative
        &:hover
          z-index: 25
        span
          display: none
        &:hover
          span
            display: block
            position: absolute
            top: -2em 
            left: 2em 
            padding: 5
            width: 15em
            border: 1px solid black
            background-color: #ccc
            color: #000
            text-align: center


    .legend
      *
        font-size: 90%
    table
      tr
        th 
          border-right: 1px dashed #000000 
          border-bottom: 1px double #000000 
        td 
          padding: 5px 10px
          border-right: 1px dashed #000000
          border-bottom: 1px solid #000000 




%table 
  %tr
    - report = reports.first
    -if report
      %th= "Survey" if report and report.survey
      -if report and report.respond_to? :masterimage
        %th= "Image" 
      -if report and report.respond_to? :user
        %th= "User" 
      -if report and report.respond_to? :count
        %th
          %a.info{:href=>'#', :muse_scanned=>"true"}
            N
            %span Number of questionnaires 
      -if report and  report.respond_to? :virtualdesktop
        %th= "Desk"     
      %th 
        %a.info{:href=>'#', :muse_scanned=>"true"}
          PC
          %span Performance compilation
      %th 
        %a.info{:href=>'#', :muse_scanned=>"true"}
          PA 
          %span Performance applications 
      %th 
        %a.info{:href=>'#', :muse_scanned=>"true"}
          SS
          %span Stability system
      %th 
        %a.info{:href=>'#', :muse_scanned=>"true"}
          PR
          %span Performance RDP 
      %th
        %a.info{:href=>'#', :muse_scanned=>"true"}
          PS 
          %span Stability RDP 
      %th
        %a.info{:href=>'#', :muse_scanned=>"true"}
          CPU
          %span Sufficiency CPU
      %th
        %a.info{:href=>'#', :muse_scanned=>"true"}
          R
          %span Sufficiency RAM
      %th
        %a.info{:href=>'#', :muse_scanned=>"true"}
          DC
          %span Sufficiency Disk C
      %th
        %a.info{:href=>'#', :muse_scanned=>"true"}
          DD
          %span Sufficiency Disk D
      %th
        %a.info{:href=>'#', :muse_scanned=>"true"}
          AT
          %span Appreciation Toolset
      %th
        %a.info{:href=>'#', :muse_scanned=>"true"}
          CT
          %span Completeness Toolset
      %th
        %a.info{:href=>'#', :muse_scanned=>"true"}
          USE
          %span Usage virtual vs. other machine
      %th
        %a.info{:href=>'#', :muse_scanned=>"true"}
          FB
          %span Fall-back environment available
      %th
        %a.info{:href=>'#', :muse_scanned=>"true"}
          V
          %span Verdict



  - reports.each do |report|
    - if report
      %tr
        %td.survey= link_to report.survey.name, report_path(report.survey)  
        -if report.respond_to? :masterimage
          %td.user= report.masterimage.name
        -if report.respond_to? :user
          %td.user= report.user.name 
        -if report.respond_to? :virtualdesktop
          %td= report.virtualdesktop.name 
        -if report.respond_to? :count
          %td= report.count 
        %td= report.perf_compile
        %td= report.perf_app
        %td= report.sys_stability
        %td= report.rdp_perf
        %td= report.rdp_stability
        %td= report.conf_num_cpu
        %td= report.conf_size_ram
        %td= report.conf_size_diskc
        %td= report.conf_size_diskd
        %td= report.toolset_general
        %td= report.toolset_completeness
        %td= report.usage
        %td= report.fallback
        %td= report.verdict
.legend
  %p In the case of a summary the booleans are counted and reported as a fraction in per-cent.


